/* Base styling */
* {
    color: #fff;
    margin: 0px;
    font-family: monospace;
}

body, html {
    height: 100%;
    background: #000;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

section {
    padding: 10px;
    border: 1px solid #fff;
    position: relative;
    width: 400px;
    min-height: 200px;

    & > h3 {
        position: absolute;
        top: -30px;
    }
}

div.row {
    display: flex;
    gap: 10px;

    &:first-child section {
        height: 400px;
    }

    &:not(:first-child) section {
        max-height: 200px;
    }
}

/* Instruction log */
#instruction-log {
    overflow-y: scroll;
    max-height: 100%;
}

/* Control */
#section-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Footer */
footer {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

/* Element styling */
input {
    display: none;
}

button, label {
    background: none;
    padding: 4px 12px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transform: opacity .25s ease;

    img {
        position: relative;
        top: 1px;
    }

    &:hover {
        opacity: 0.8;
    }
}

canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

/* Color coding */
.instruction {
    color: #197fbe;
}

.hex-offset {
    color: #139556;
}

.hex-arg {
    color: #e93535;
}
