/* Base styling */
* {
    color: #fff;
    margin: 0px;
    font-family: monospace;
}

body, html {
    height: 100%;
    background: #000;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

section {
    padding: 10px;
    border: 1px solid #fff;
    position: relative;
    width: 500px;
    min-height: 200px;

    & > h3 {
        position: absolute;
        top: -30px;
    }
}

div.row {
    display: flex;
    gap: 10px;

    &:first-child section {
        height: 400px;
    }
}

/* Footer */
footer {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

/* Element styling */
input {
    display: none;
}

label {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 4px 12px;
    border: 1px solid #fff;

    img {
        position: relative;
        top: 1px;
    }
}
